@require 'mixins'

*
*:after
*:before
  box-sizing border-box

/* Basic Elements
------------------------------------------------------- */
html
body
#react-container
.founder-map-app
  height 100%
  margin 0
  padding 0
  width 100%

body
input
textarea
  color #404040
  color rgba(0,0,0,0.75)
  font 15px/20px 'Open Sans', sans-serif
  -webkit-font-smoothing antialiased

body
  background #fff

h1
h2
h3
h4
h5
h6
  font-family 'Open Sans Bold', sans-serif
  font-weight normal

em h1, h1 em
em h2, h2 em
em h3, h3 em
em h4, h4 em
em h5, h5 em
em h6, h6 em
  font-family 'Open Sans Bold Italic', sans-serif

h1
  font-size 30px
  line-height 40px

h2
  font-size 22px
  line-height 30px
  padding-top 5px
  padding-bottom 5px

h3
  font-size 15px
  line-height 20px

h4
h5
h6
  font-size 12px
  line-height 20px

p
  margin-bottom 20px

p:last-child
  margin-bottom 0

small
.small
  font-size 12px
  line-height 20px
  letter-spacing 0

small
  display block

.micro
  font-size 10px
  line-height 20px
  letter-spacing 0

.strong
strong
  font-family 'Open Sans Bold', sans-serif
  font-weight normal

strong em
em strong
  font-family 'Open Sans Bold Italic', sans-serif

/* Grid
------------------------------------------------------- */
generate-grid()

/* Paddings
------------------------------------------------------- */
generate-pads(0, 5)
generate-pads(1, 10)
generate-pads(2, 20)
generate-pads(4, 40)
generate-pads(8, 80)

/* Links
------------------------------------------------------- */
a
  color #3887BE
  text-decoration none

a:hover
a.active
a:hover
  color #63b6e5

a:focus
  box-shadow inset 0 0 0 1px rgba(0,0,0,0.05)

.dark a
a.dark
  color rgba(255,255,255,.5)

a.dark.active
.dark a.active
a.dark:hover
.dark a:hover
  color white

.dark a:focus
  box-shadow inset 0 0 0 1px rgba(255,255,255,0.05)

a.quiet
  color rgba(0,0,0,0.5)

a.quiet.active
a.quiet:hover
  color rgba(0,0,0,0.75)

.dark a.quiet
a.quiet.dark
  color white

.dark a.quiet:hover
a.quiet.dark.active
a.quiet.dark:hover
  color rgba(255,255,255,0.5)

/* Buttons
------------------------------------------------------- */
button
.button
[type=button]
[type=submit]
  background-color #3887be
  text-align center
  color #fff
  display inline-block
  height 40px
  margin 0px
  padding 10px
  position relative
  border none
  cursor pointer
  border-radius 3px
  white-space nowrap
  text-overflow ellipsis

  /* The button element needs to be forced this */
  -webkit-font-smoothing antialiased

/* Form basics
-------------------------------------------------- */

form fieldset
  margin 0 0 20px

form fieldset:last-child
  margin-bottom 0

form fieldset label
  font 12px/20px 'Open Sans Bold', sans-serif
  display block
  margin 0 0 5px

.dark label
  color #f0f0f0
  color rgba(255,255,255,0.75)

form fieldset label.inline
  margin-bottom 0

input
select
button
  vertical-align top

textarea
input[type=password]
input[type=text]
input[type=date]
input[type=email]
input[type=number]
  background-color #fff
  border 1px solid rgba(0,0,0,0.1)
  display inline-block
  height 40px
  margin 0
  color rgba(0,0,0,.5)
  padding 10px
  transition border-color .05s
  -webkit-appearance none

textarea.code
input.code
input[type=password].code
input[type=text].code
input[type=date].code
input[type=email].code
input[type=number].code
  font-family Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace
  white-space pre-wrap

.dark textarea
.dark input[type=password]
.dark input[type=text]
.dark input[type=date]
.dark input[type=email]
.dark input[type=number]
  background #404040
  background rgba(0,0,0,0.25)
  border-color #eee
  border-color rgba(255,255,255,0.25)
  color #fff
  box-shadow none

textarea:focus
input[type=password]:focus
input[type=text]:focus
input[type=date]:focus
input[type=email]:focus
input[type=number]:focus
  outline thin dotted\8 /* ie8 below */
  border-color rgba(0,0,0,0.25)
  color #404040

.dark textarea:focus
.dark input[type=password]:focus
.dark input[type=text]:focus
.dark input[type=date]:focus
.dark input[type=email]:focus
.dark input[type=number]:focus
  border-color rgba(255,255,255,0.75)
  color #fff

textarea:disabled
input[type=text]:disabled
input[type=date]:disabled
input[type=email]:disabled
input[type=number]:disabled
input[type=password]:disabled
  border-color rgba(0,0,0,0.125)
  color rgba(0,0,0,0.5)

.dark textarea:disabled
.dark input[type='text']:disabled
  border-color rgba(255,255,255,0.25)
  color rgba(255,255,255,0.5)

textarea.short
input[type=password].short
input[type=text].short
input[type=date].short
input[type=email].short
input[type=number].short
  height 30px
  padding 5px
  -webkit-appearance none

textarea.short
  height 60px

textarea.stretch
input.stretch[type=text]
input.stretch[type=email]
input.stretch[type=number]
input.stretch[type=password]
  width 100%

textarea.clean
input[type=password].clean
input[type=text].clean
input[type=date].clean
input[type=email].clean
input[type=number].clean
.dark textarea.clean
.dark input[type=password].clean
.dark input[type=text].clean
.dark input[type=date].clean
.dark input[type=email].clean
.dark input[type=number].clean
  border-width 0

textarea.clean:focus
input[type=password].clean:focus
input[type=text].clean:focus
input[type=date].clean:focus
input[type=email].clean:focus
input[type=number].clean:focus
  background-color rgba(0,0,0,.05)

.dark textarea.clean:focus
.dark input[type=password].clean:focus
.dark input[type=text].clean:focus
.dark input[type=date].clean:focus
.dark input[type=email].clean:focus
.dark input[type=number].clean:focus
  background-color rgba(0,0,0,.35)


/* Scrollbar
------------------------------------------------------- */
::-webkit-scrollbar
  width 8px
  height 8px
  border-left 0
  background rgba(0,0,0,.1)

::-webkit-scrollbar-track
  background none

::-webkit-scrollbar-thumb
  background rgba(0,0,0,.1)
  border-radius 0

::-webkit-scrollbar:hover
  background rgba(0,0,0,.15)

/* Absolute and Fixed containers
------------------------------------------------------- */
.pin-top
.pin-right
.pin-bottom
.pin-left
.pin-topleft
.pin-topright
.pin-bottomleft
.pin-bottomright
  position absolute

.fixed-top
.fixed-right
.fixed-bottom
.fixed-left
.fixed-topleft
.fixed-topright
.fixed-bottomleft
.fixed-bottomright
  position fixed

.fixed-bottom
.pin-bottom
  right 0
  bottom 0
  left 0

.fixed-top
.pin-top
  top 0
  right 0
  left 0

.fixed-left
.pin-left
  top 0
  bottom 0
  left 0

.fixed-right
.pin-right
  top 0
  right 0
  bottom 0

.fixed-bottomright
.pin-bottomright
  bottom 0
  right 0

.fixed-bottomleft
.pin-bottomleft
  bottom 0
  left 0

.fixed-topright
.pin-topright
  top 0
  right 0

.fixed-topleft
.pin-topleft
  top 0
  left 0

/* Fills
-------------------------------------------------------- */
.fill-dark
  background-color #404040

.fill-gray
.fill-grey
  background #eee

.fill-grey-dark
.fill-gray-dark
  background #404040

.fill-white
  background #fff

.fill-light
  background #f8f8f8

.fill-cyan
  background #3bb2d0

.fill-midnight
  background #142736

.fill-blue
  background #3887be

.fill-denim
  background #3c4e5a

.fill-navy
  background #28353d

.fill-navy-dark
  background #222B30

.fill-purple
  background #8a8acb

.fill-green
  background #56b881

.fill-yellow
  background #f1f075

.fill-orange
  background #ee8a65

.fill-darken0
  background rgba(0,0,0,0.05)

.fill-darken1
  background rgba(0,0,0,0.25)

.fill-darken2
  background rgba(0,0,0,0.50)

.fill-darken3
  background rgba(0,0,0,0.75)

.fill-lighten0
  background rgba(255,255,255,0.10)

.fill-lighten1
  background rgba(255,255,255,0.25)

.fill-lighten2
  background rgba(255,255,255,0.50)

.fill-lighten3
  background rgba(255,255,255,0.75)

/* Animation
------------------------------------------------------- */
.animate
  transition all .125s

/* Additional Utility Classes
------------------------------------------------------- */
.fr
  float right

.fl
  float left

.full
  width 100%

.unfloat
  float none

.dot
  border-radius 50%

.quiet
  color #7f7f7f
  color rgba(0,0,0,.5)

.dark .quiet
  color #7f7f7f
  color rgba(255,255,255,.5)

.center
  text-align center

.contain
  position relative

.clip
  overflow hidden

.hidden
  display none

.text-left
  text-align left

.text-right
  text-align right

.space > *
  margin-right 5px

.space-bottom0
  margin-bottom 5px

.space-bottom1
  margin-bottom 10px

.space-bottom2
  margin-bottom 20px

.space-bottom4
  margin-bottom 40px

.space-bottom8
  margin-bottom 80px

.space-top0
  margin-top 5px

.space-top1
  margin-top 10px

.space-top2
  margin-top 20px

.space-top4
  margin-top 40px

.space-top8
  margin-top 80px

.hide-tablet
.hide-mobile
  display block

.show-tablet
.show-mobile
  display none

.inline
  display inline-block

.break-word
  word-wrap break-word

.align-middle
  vertical-align middle

.align-top
  vertical-align top

.block
  display block

.scroll-h
  overflow-x auto

.scroll-v
  overflow-y auto

.capitalize
  text-transform capitalize

.z1
  z-index 1

.z10
  z-index 10

.z100
  z-index 100

.round
  border-radius 3px

.round-top
  border-radius 3px 3px 0 0

.round-right
  border-radius 0 3px 3px 0

.round-bottom
  border-radius 0 0 3px 3px

.round-left
  border-radius 3px 0 0 3px

.unround
  border-radius 0

.caption
  display block

.truncate
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
