// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
clearfix()
  *zoom:1

  &:before,
  &:after
    content:""
    display:table

  &:after
    clear:both

verticalAlign()
  position relative
  top 50%
  transform translateY(-50%)

verticalAlignParent()
  transform-style preserve-3d
